*
{
	margin: 0;

   font-family: 'Bebas Neue', cursive;
   font-size: 16px;
   font-weight: 400;
   color: #3d2514;
}
/*header start*/
.header
{
	background-image: url(../images/headerb.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	overflow: hidden;
	padding: 16px 0;
}
.container
{
	width:95% ;
	margin: 0 auto;
	/*border: 1px solid red;*/
	overflow: hidden;
	padding: 10px 0;
}
.logo
{
	width: 20%;
	float: left;
}
.logo img
{
	width: 100%;
}
.phone_menu{
    width: 65%;
    float: right;
    overflow: hidden;

}
.number
{   
	
	width: 45%;
    float: right;
    margin-top: 10px;
    overflow: hidden;   
}
.logo2
{   
	width: 15%;
    float: left;
    margin-left: 70px;
}
.logo2 img
{
	width: 100%;
}
.hp{
	font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: bold;
    word-spacing: 2px;
    float: right;
    /* width: 50%; */
    margin-top: 10px;
    
	

}
.menu
{
	   width: 70%;
	 /* border: 1px solid green;*/
	  float: right;
	 /* margin-top: 25px;*/
}

.menu ul 
{
	float: right;

}
.menu ul li 
{
		float: left;
	    list-style: none;

}
.menu ul li a
{  
	padding: 20px 30px;
    text-decoration: none;
    display: block;
    color: #3d2514;
    transition: .5s;
    font-size: 22px;
    text-transform: uppercase;
    word-spacing: 3px;
    letter-spacing: 3px;
}
.menu ul li:last-child a{
    padding-right: 0;
}

.menu ul li a:hover
{
   color: white;
}


.details
{
	width: 40%;
    float: left;
    /* padding: 10px 10px; */
    /*border: 1px solid black;*/
    
    
}
.title
{   
   font-size: 23px;
    font-weight: 400;
    text-transform: uppercase;
    display: inline-block;
    border-style: dashed;
    padding: 5px 15px;
    margin-top: 170px;
    margin-bottom: 0;
	
}
.heading{
          font-family: 'Alfa Slab One', cursive;
    font-size: 114px;
    font-weight: 400;
    margin: 0;
    text-transform: uppercase;
    text-shadow: 3px 3px white;
}
.heading2
{
       font-family: 'Alfa Slab One', cursive;
    font-size: 60px;
    font-weight: 400;
    margin: 0;
    text-transform: uppercase;
    text-shadow: 3px 3px white;
}
.headerbimg
{
   
   width: 50%;
    float: right;
    /* border: 1px solid green; */
    padding:53px 0 80px;
    padding-right: 50px;
    position: relative;
}
.headerbimg img
{
	width: 100%;
 
 }
 .circle
 {
    position: absolute;
    border: none;
    border-radius: 78px;
    background-color: #bf2222;
    height: 150px;
    width: 150px;
    top: 475px;
    left: 65px;
 }
 .circle2
 {
    position: absolute;
    border: 3px dashed white;
    border-radius: 78px;

    height: 120px;
    width: 120px;
    top: 485px;
    left: 77px;

   
 }
 .hprice
 {
    text-align: center;
     color: white;
     margin-top: 20px;
 }
 .dp
 {
    font-size: 37px;
    color: white;
 }
 .ho
{
    font-size: 30px;
    text-align: center;
    color: white;
    word-spacing: 2px;

 /*header end*/
}

/* burgertype start*/
 .burgertype
 {

 }
 .container2
 {
 	width: 90%;
    margin: 0 auto;
    padding: 50px 0;
    overflow: hidden;
  /*  border: 1px solid green;*/
   
 }
 .bleft
 {
    float: left;
    width: 49%;
     position: relative;
    
 }
 .bleft img
 {
   width: 100%;
 }
.p1
{
	position: absolute;
    top: 15px;
    left: 20px;
    font-size: 29px;
    font-weight: 400;
    text-transform: uppercase;
    color: white;
}
.p2
{
	
    position: absolute;
    top: 42px;
    left: 20px;
    font-size: 42px;
    font-weight: 400;
    text-transform: uppercase;
    color: white;
}
.p3
{
	
    position: absolute;
    top: 81px;
    left: 20px;
    font-size: 42px;
    font-weight: 400;
    text-transform: uppercase;
    color: white;
}
 
 .bright
 {  
 	width: 49%;
 	float: right;

 }
 .bru
 {
 	    padding-bottom: 31px;
 	    position: relative ;
 }
 .bru img
 {
width: 100%;
 }
 .brd
 {
 	position: relative;

 }
 .brd img
 {
 	width: 100%;
 }
/*burgertype end */
/*about start*/
 .container3
 {
 	width: 55%;
 	text-align: center;
 	margin: 0 auto;
 	padding: 25px 0;
 	
 }

 .abouts
 {
 	display: inline-block;
 	background-color: #ffc045;
 	padding: 7px 20px;
    font-size: 25px;
 }
 .abouth2
 {
     font-family: 'Alfa Slab One', cursive;
    font-size: 36px;
    font-weight: 400;
    text-transform: uppercase;
    color: #3d2514;
    padding: 30px 0;
 }
 .aboutp
 {
 	font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: regular;
    line-height: 25px;
    color: #715f53;
    margin: 0 14px;
 }
 /*about end*/
 /*oder start*/
.containero
{  
   
 display: flex;
 justify-content: space-between;
}
 .sub1 ,.sub2,.sub3
 {
 	
 	width: 30%;
  
   justify-content: space-between;
 	float: left;
 	padding-right: 66.3px;
 }
 .sub3
 {
 	
 	padding-right: 0;
 }
 .sub1 img ,.sub2 img,.sub3 img
 {
 	width: 100%;
 }
 .details2
 {
 	text-align: center;
 }
 .details2 p
 {
 	font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: #715f53;
    margin: 0 74px;
 }
.cetagoriesh2 	
{
   font-size: 37px;
   margin-bottom:20px;
 }
 button
 {
 	border: none;
 	background-color:#bf2222;
 	margin-top: 35px;
 }
 Button a
 { 
 	display: inline-block;
   text-decoration: none;
   font-family: 'Alfa Slab One', cursive;
   font-size: 16px;
   font-weight: 400;
   color: white;
   padding: 13px 13px;
   
 }
 /*oder end*/

/* card start*/
 .card{
 	width: 80%;
    margin: 0 auto;
    border: 1px solid white;
    border-radius: 5px;
    box-shadow: 12px 4px 21px #888888;
    overflow: hidden;
    margin-top: 90px;
   
 	
 }
 .card_left
 {  
 	width: 40%;
    float: left;
    /* padding: 31px 0; */
    padding-left: 43px;
    margin-top: 60px;
}
 .cardp1
 {

   font-size: 29px;
    font-weight: 400;
    color: black;
 }
.cardh2
{
	    font-family: 'Alfa Slab One', cursive;
    font-size: 41px;
    font-weight: 400;
    text-transform: uppercase;
    color: #3d2514;
    margin-bottom: 40px;

}
.cardp2
{
	font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    color: #715f53;
}
.card_icon
{
	margin-top: 84px;
}
.card_right
{
    float: right;
    width: 53%;
    margin: 27px 0;
    margin-right: 19px
   
}
.card_right img 
{   
	border-radius: 5px;
	width: 100%;
}
/*card end*/
/*form satr*/
.form{
   background-image: url(../images/fb.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	margin-top: 50px;	
}

form
{
      margin-top: 110px;
    margin-bottom: 136px;
}
.formp
{
    font-size: 29px;
    margin-top: 24px;
}
.formh2
{
    font-size: 50px;
}
form input 
{  
	margin-right: 10px;
	margin-bottom: 30px;
	width: 28%;
	padding: 15px;
	padding-right: 120px;
	border: 1px solid lightgrey;
	border-radius: 5px;
}
.button1
{
border: none;

width: 46%;
    background-color: #bf2222;
    border-radius: 5px;
    font-family: 'Alfa Slab One', cursive;
    font-size: 25px;
    font-weight: 400;
    color: white;
    padding: 9px 0 12px;
    text-align: center;
    margin-top: 0;
}
/*form end*/
/*footer start*/
footer{
   
}

.footersection {
	background-image: url(../images/fbur.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    width: 95%;
    margin: 0px auto 40px;

    
}
.footersection1st
{
    overflow: hidden;
}
.footersection1st_left
{
   width: 47%;
    float: left;
    margin-top: 90px;
    margin-left: 61px;
}

.footerlogo 
{
    width: 65%;
    margin-bottom:88px;
}
.footerlogo img
{
    width: 100%;
}
.footersection1st_left p
{
   font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: regular;
    color: white;
    width: 72%;
    word-spacing: 3px;
    line-height: 24px;
}

.footersection1st_right
{
    width: 28%;
    float: right;
    margin-top: 280px;
    /* margin-right: 100px; */

}
.locationlogo 
{
    width: 8%;
    float: left;
}
.locationlogo img
{
    width: 100%;
}
.maillogo 
{
    width: 8%;
    float: left;
}
.maillogo img
{
    width: 100%;
}
.footersection1st_right p
{
    font-family: 'Bebas Neue', cursive;
    font-weight: 100;
    font-size: 20px;
    text-transform: uppercase;
    color: white;
    padding: 3px 63px 23px;
    
}
.footersection2nd
{
    overflow: hidden;
    margin-top: 165px;
    /* margin-bottom: 10px; */
    margin-left: 61px;
}
.footersection2nd p
{
   ont-family: 'Bebas Neue', cursive;
    font-weight: 100;
    font-size: 16px;
    word-spacing: 3px;
    text-transform: uppercase;
    color: white;
    float: left;
    margin-top: 15px;
}
.menu2
{   width: 45%;
    
    padding-right: 34px;
}

.menu2 ul li a

{
    padding: 15px 15px;
}
/*footer end*/
